@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&family=Nunito+Sans:wght@200;300;400;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    font-family: 'Poppins', sans-serif !important; 
}
.align-center{
    align-items: center;
}
p,h1,h2,h3,h4,h5,h6,a{
    margin-bottom: 0 !important;
    color: #434343;
}
.container-fluid {
    padding: 0 !important;   
}
.site-wrapper{
    padding: 15px 80px;
    padding-bottom: 40px;
}
.site-wrapper-ut{
    padding: 20px 80px;
    /* padding-bottom: 40px; */
}
.header{
    padding: 8px 80px;
    box-shadow: -5px 15px 13px -21px #aeaeae;
}
a{
    text-decoration: none !important;
}
.btn-primary{
    background: #F05A28 !important;
    color: #fff;
}
.btn-secondary{
    background: #1C67A8 !important;
    color: #fff;
}
.primary-text{
    color: #F05A28 !important;
}
.secondary-text{
    color: #1C67A8 !important;
}
button {
    font-size: 14px !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.bg-gray{
    background-color: #F9F9F9;
}
ul{
    list-style: none;
}
/* Navbar css starts here///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

nav.navbar.navbar-expand-sm {
    padding: 0;
}
a.navbar-brand {
    width: 250px;
    margin-right: 35px;
}
a.navbar-brand img {
    width: 100%;
    height: 100%;
}
.dropdown button p {
    font-size: 11px;
    color: #707070;
    font-weight: 400;
    text-align: left;
}
.dropdown button {
    font-size: 14px;
    text-align: left;
    color: #707070;
    font-weight: 500;
    padding: 0 !important;
    border: 0;
    outline: 0;
}
div#collapsibleNavbar {
    width: 100%;
}
.content-divider {
    width: 100%;
}
.search-bar {
    width: 100%;
}
.search-bar input {
    width: 100%;
    background: #F1F1F1;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    padding: 7px 15px;
    font-size: 14px;
    outline: 0;
}
.icon-wrapper {
    background: #F1F1F1;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    color: #7B7B7B;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification {
    position: absolute;
    top: -5px;
    right: -6px;
    background: #F05A28;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.dropdown-menu li button {
   font-weight: 400;
   color: #707070;
   padding: 8px 13px !important;
}
a.nav-link {
    padding: 0 !important;
    font-size: 12px;
    margin-right: 10px;
    color: #707070 !important;
}
.nav-sep {
    margin-right: 10px;
    color: #BBBBBB;
    font-size: 14px;
    font-weight: 400;
}
.content-right h6 {
    font-size: 13px;
    font-weight: 300;
    color: #686868;
}
.nav-sec-top a.dropdown-item i {
    margin-right: 15px;
}
.nav-sec-top a.dropdown-item:hover{
    color: #F05A28 !important;
}
a.dropdown-item {
    font-size: 14px;
    padding: 8px 18px;
    color: #686868 !important;
}
.dropdown-item.active, .dropdown-item:active{
    background: unset !important;
}
ul.dropdown-menu.account-m {
    min-width: 200px !important;
}
ul.dropdown-menu {
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
    border-radius: 10px;
}
/* Navbar css ends here///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Banner Carousel Css starts here//////////////////////////////////////////////////////////////////////////////////////////////////// */

.carousel-item {
    position: relative;
}
.cr-content {
    position: absolute;
    top: 15%;
    width: 390px;
    left: 11%;
}
.cr-content h1 {
    font-size: 42px;
    color: #fff;
}
.cr-content p {
    font-size: 14px;
    margin: 15px 0px !important;
    color: #fff;
    font-weight: 300;
}

.owl-theme .owl-nav [class*=owl-]:hover{
    background: none !important;
    color: #1C67A8 !important;
}
.owl-carousel .owl-stage-outer {
    padding: 10px;
    margin-left: -15px;
}
.owl-carousel {

    width: 101.7%!important;
    padding: 10px;

}
/* Banner Carousel Css Ends here//////////////////////////////////////////////////////////////////////////////////////////////////// */


/* Slider Css Css Starts here//////////////////////////////////////////////////////////////////////////////////////////////////// */

.card{
    padding: 20px;
    border-radius: 7px !important;
    /* box-shadow: none !important; */
    border: 1px solid #efefef !important;
    box-shadow: rgb(170 170 170 / 20%) 0px 2px 8px 0px;
}
.owl-carousel .owl-stage-outer{
    overflow: unset;
    height: 100%;
}
.list-img-wrapper {
    width: 110px;
    margin: auto;
    height: 150px;
    display: flex;
    overflow: hidden;
}
.list-img-wrapper img {
    width: 100% !important;
    margin: auto;
    
}
.list-details h4 {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px !important;
    font-weight: 400;
}
.list-footer {
    flex-wrap: wrap;
    width: 100%;
}
.list-footer .price-wrapper .content h5 strike {
    font-size: 12px;
    margin-right: 8px;
    font-weight: 200;
}
.list-footer .price-wrapper .content h3 {
    font-size: 16px;
    font-weight: 600;
}
.ic-active{
    color: #1C67A8 !important;
}
.ratings i.bi {
    color: #DBDBDB;
}

.wishlist {
    background: #fff;
    width: 30px;
    height: 30px;
    padding-top: 4px;
    font-size: 14px;
    line-height: 25px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    border-radius: 50%;
    text-align: center;
    color: #F05A28;
}
.compare-hov{
    background: #fff;
    width: 30px;
    height: 30px;
    padding-top: 4px;
    font-size: 14px;
    line-height: 25px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    border-radius: 50%;
    text-align: center;
    color: #F05A28;
}
.icon-list-wrapper {
    position: absolute;
    right: 24px;
    display: none;
}
a.card.list:hover .icon-list-wrapper {
    display: block;
}

h4.inner-heading {
    border-left: 2px solid #F05A28;
    padding-left: 13px;
    font-size: 24px;
    font-weight: 400;
}
.inner-header {
    width: 86%;
}
.owl-theme .owl-nav [class*=owl-]{
    font-size: 28px !important;
}
.owl-nav button span {
    background: white;
    padding: 0px 14px;
    border-radius: 10px;
    border: 1px solid #ddd;
}
.owl-nav {
    position: absolute;
    top: -42px;
    margin-top: unset !important;
    z-index: 999;
    right: 10px;
}
.owl-dots{
    display: none;
}
.inner-header a {
    font-size: 14px;
    color: #1C67A8;
}
/* Slider Css Css Ends here//////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Home page Gradient banner css starts here//////////////////////////////////////////////////////////////////////////////////////////// */

.img-gradient{
    position:relative;
    display:inline-block;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  .img-gradient img{
width: 100%;
  }
  .img-gradient:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: -moz-linear-gradient(top, rgba(0,47,75,0) 0%, #F05A28 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F05A28), color-stop(100%,rgba(0,47,75,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,47,75,0) 0%,#F05A28 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,47,75,0) 0%,#F05A28 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,47,75,0) 0%,#F05A28 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,#F05A28 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }
  .img-gradient img{
    display:block;
  }
  .badge_onsale{
    width: 116px;
    height: 77px;
    background-color: #F05A28;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 77px;
    color: #fff;
    right: 30px;
    z-index: 5;
  }
  .hot_title{
    position: absolute;
    bottom: 40px;
    z-index: 5;
    color: #fff;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .hot_title h1{
    font-size: 26px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
  }
  .hot_title h2{
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
  }
  .btn_proceed {
    width: 50px!important;
    height: 45px!important;
    border-radius: 10px;
    background: #fff!important;
    color: #1C67A8;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    transition: 0.5s;
  }
  .hotdeals{
    position: relative;
  }

  /* Home page Gradient banner css ends here//////////////////////////////////////////////////////////////////////////////////////////// */
 
 /* Home page inner css starts here ////////////////////////////////////////////////////////////////////////*/

 .custom{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    border: 0  !important;
    padding: 20px;
  }
  .no-js .owl-carousel, .owl-carousel.owl-loaded{
    height: 100% !important;
  }
  h4.card-heading {
    font-size: 20px;
    color: #575757;
}
p.common-pr{
    font-size: 14px;
    color: #575757;
    font-weight: 300;
}
.cr-pdt-grid .img-wrap {
    width: 120px;
    height: 123px;
    margin: auto;
}
.cr-pdt-grid .pdt-wrp {
    width: 50%;
    margin-bottom: 15px;
}
.list-view .list-img-wrapper {
    margin: unset;
    margin-right: 20px;
    width: 30%;
    height: 100px;
}
.list-view .list-img-wrapper img {
    width: 100%;
    height: 100%;
}
.list-view .list-details {
    width: 65%;
}
.list-view .list-details h4 {
    font-size: 20px;
    margin: 0 !IMPORTANT;
}
.wrap .icon {
    width: 55px;
    height: 55px;
    background: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.wrap .icon i {
    font-size: 24px;
    color: #F05A28;
}
.wrap h4 {
    font-size: 20px;
    color: #575757;
}
.wrap p {
    font-size: 14px;
    color: #575757;
    font-weight: 300;
}
/* Home page inner css ends here ////////////////////////////////////////////////////////////////////////*/


/* Footer css starts here///////////////////////////////////////////////////////////////////////////////////////////////////////////  */


.bg-semi-light{
    background-color: #747474;
}
.footer {
    padding: 30px 0px;
}
.footer-top .left,.right {
    width: 60%;
}
.footer-top .right {
    width: 40%;
}
.footer-top .left h1 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 5px !important;
}
.footer-top .left p {
    color: #efefef;
    font-weight: 300;
    width: 70%;
    font-size: 14px;
    margin-top: 10px;
}
.footer-top .right .subscription input {
    width: 100%;
    border: 1px solid #cbcbcb;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    padding-left: 20px;
    font-size: 14px;
}
.subscription {
    position: relative;
}
.subscription button.btn.btn-secondary{
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px 20px;
    border-radius: 10px;
}
.footer-top{
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.ft-l p {
    width: 70%;
    color: #efefef;
    margin: 25px 0 !important;
    font-size: 14px;
}
.ic-wr {
    border: 1px solid #EEEEEE;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
}
.ic-wr i{
    color: #F05A28;
    font-size: 20px;
}
.footer-btm h3 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px !important;
}
.footer-btm ul {
    font-size: 14px;
    list-style: none;
    color: #efefef;
    font-weight: 300;
}
.footer-btm ul li{
    margin-bottom: 7px;
}
.payment img {
    width: 140px;
    margin-right: 10px;
}
.copyright a {
    font-size: 14px;
    color: #686868;
}
img.fot-lo {
    width: 55%;
}
.ft-l a {
    color: #efefef !important;
}
/* Footer css ends here///////////////////////////////////////////////////////////////////////////////////////////////////////////  */

/* Shop section css starts here////////////////////////////////////////////////////////////////////////////////////////////////////// */

.shop img {
    width: 100%;
}
.card-heading h4{
font-size: 18px;
color: #575757;
}
.option-wraper ul {
    padding-left: 0;
    margin-bottom: 0;
}
.option-wraper ul li {
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-weight: 300;
}
.list{
    border-radius: 10px !important; 
    border: 0 !important;
    padding: 25px !important;
    box-shadow: rgba(58, 58, 58, 0.1) 0px 4px 12px !important;
}
.custom-pdd{
    padding-right: 30px !important;
}
.list-header .left, .right {
    width: unset;
}
ol.breadcrumb {
    margin-bottom: 6px;
    font-size: 14px;
    color: #303030;
}
li.breadcrumb-item.active {
    color: #f05a28;
}
h4.list-heading {
    color: #575757;
}
.list-header .right button.btn.btn-light {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #E1E1E1 !important;
}
.pagination p {
    font-size: 14px;
    color: #707070;
}
.pagination button.btn.btn-light {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #E1E1E1 !important;
    color: #0F75B7;
    font-weight: 500;
}
.inner{
    margin-bottom: 20px;
}
.banner-section {
    position: relative;
}
.banner-section .content {
    position: absolute;
    top: 50px;
    left: 80px;
}
.banner-section .content h1{
    color: #0F75B7;
}
.banner-section .content p{
    font-size: 14px;
    margin-top: 10px;
    color: #0F75B7;
}
a{
    text-decoration: none;
    color: unset !important;
}

/* Shop section css ends here////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Details page css starts here/////////////////////////////////////////////////////////////////////////////////// */

.item-display-options ul {
    padding: 0;
    padding-right: 30px;
}
.item-display-options ul li {
    background: #fff;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.li-img-wrpper {
    width: 90px;

}
.li-img-wrpper img {
    width: 100%;
}
.pdt-display {
    width: 100%;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
.pdt-display img {
    width: 100%;
}
.pdt-detail-wrapper h5 {
    width: 60%;
}
span.cm-light {
    font-size: 12px;
    margin-left: 20px;
    color: #9F9F9F;
}
.brand p {
    font-size: 14px;
    color: #303030;
    margin-right: 20px !important;
}
.status-success {
    padding: 5px 10px;
    background: #45ce61;
    border-radius: 10px;
    color: #fff;
    width: fit-content;
    font-size: 12px;
    border: 1px solid #45ce61;
}
.price h1 {
    color: #303030;
    font-weight: 700;
    font-size: 30px;
}
h1.st-out {
    font-weight: 300;
    color: #b4b4b4;
}
.detail-btn-wrp button {
    padding: 12px 17px;
    margin-right: 10px;
}
.detail-btn-wrp button.btn.btn-light {
    background: #fff;
    border: 1px solid #E1E1E1 !important;
    color: #707070;
}
.description h6 {
    color: #303030;
    margin-bottom: 10px !IMPORTANT;
}
.description p {
    color: #303030;
    margin-bottom: 10px !IMPORTANT;
    font-size: 14px;
    width: 80%;
}

/* Details page css ends here/////////////////////////////////////////////////////////////////////////////////// */

/* Login and starter css starts here////////////////////////////////////////////////////////////////////////////////////////////// */

.login{
    width: 30%;
    margin: auto;
    padding: 30px;
}
.form-group{
    position: relative;
}
.login-header h1 {
    font-size: 26px;
    color: #434343;
}
.login-header p {
    font-size: 14px;
    color: #707070;
}
label {
    font-size: 14px;
    color: #707070;
    font-weight: 400;
}
.login a {
    font-size: 14px;
    color: #1C67A8 !important;
}
.login-footer p {
    font-size: 14px;
    text-align: center;
    color: #707070;
}
.login-custom a.btn.btn-primary {
    color: #fff !important;
    border: none;
}
input{
    font-size: 14px !important;
    box-shadow: none !important;
}
.input-icon {
    position: absolute;
    top: 33px;
    right: 20px;
}
.input-icon:hover {
    color: #1C67A8;
}
.login-footer a{
    color: #1C67A8 !important; 
}
.form-group input {
    font-size: 13px;
    box-shadow: none !important;
    outline: none;
    padding: 10px;
}
input{
    font-size: 13px !important;
}
.createacount{
    width: 50%;
    margin: auto;
    padding: 30px;
}
span.error-msg {
    font-size: 12px;
    position: absolute;
    font-style: italic;
    color: #f02323;
}
.starter-pd{
    padding: 40px !important;
}
/* Login and starter css ends here////////////////////////////////////////////////////////////////////////////////////////////// */

/* Wishlist css starts here ////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.container-fluid.grey {
    background: #EFEFEF;
    margin-top: -30px;
    padding: 30px;
}

.name span {
    font-size: 16px;
    opacity: 75%;
}

.name p {
    font-size: 20px;
    font-weight: 600;
}

.name {
    margin-left: 10px;
}

.profile-sec.details {
    flex-direction: column;
    align-items: unset;
    margin-top: 20px;
}

.profile-sec.details h4 a {
    color: #707070;
    font-weight: 500;
}

.profile-sec.details ul li a {
    color: #707070;
    display: block;
    margin-left: 50px;
    text-decoration: none;
}

.profile-sec.details ul li a:hover {

    color: #891c05;
    font-weight: 600;
    transition: 0.4s ease;
    opacity: 100% !important;

}

.profile-sec.details ul li {
    color: #000;
    padding: 5px 0;
}

.profile-sec.details h4 {
    margin: 15px 0;
    display: flex;
}

.profile-sec.details h4 a {
    text-decoration: none;
    margin-top: 2px;
}

.profile-sec.details i.fa.fa-angle-right {
    float: right;
    opacity: 70%;
}

.profile-sec.details h4 span img {
    margin-right: 10px;
}

.grid-right {
    align-items: center;
}

.grid-right .form-check label.form-check-label {
    margin-right: 10px;
    opacity: 70%;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
}

.grid-right .form-check {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.grid-right .form-check input#check1 {
    margin-right: 5px;
}


.wishlist-content h3 {
    font-size: 20px;
    margin-top: 8px;
    font-weight: 400;
    color: #891c05;
}

.wishlist-content h3 strike {
    color: #000;
    font-size: 16px;
    font-weight: 300;
    opacity: 65%;
    font-style: italic;
}

.wishlist-content .star {
    background: #53D34B;
    width: fit-content;
    padding: 5px;
    border-radius: 3px;
    opacity: 100%;
    color: #fff;
    margin-bottom: 10px;
}

span.added {
    font-size: 13px;
    opacity: 70%;
    margin-left: 20px;
}

.wishlist-content .usages {
    justify-content: unset;
}

.wishlist-content .usages a {
    margin-right: 18px;
}

.buttons.wishlist-1 button.btn.btn-primary {
    background-color: #FFBEBE;
    border: none;
    outline: none;
    box-shadow: none;
    color: #000;
    width: -webkit-fill-available;
    margin-top: 10px;
}

button.btn.btn-danger {
    background: #891c05;
}

.buttons.wishlist-1 button.btn.btn-danger {

    border: none;
    outline: none;
    box-shadow: none;
    width: -webkit-fill-available;
    margin-top: 10px;
}

.row.fo-align {
    display: flex;
    align-items: center;
}

.wishlist {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.fo-bg-white {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgb(50 50 93 / 15%) 0px 6px 12px -2px, rgb(0 0 0 / 10%) 0px 3px 7px -3px;
}

.inner-page-pd{
    padding-top: 25px !important;
}
.profile-img {
    width: 60px;
    height: 60px;
}
.profile-img img {
    width: 100%;
    border-radius: 50%;
}

.prof-details p {
    font-size: 14px;
    opacity: 80%;
}
.prof-details h5 {
    font-size: 16px;
    margin-top: 2px;
    font-weight: 500;
}
.leftbar-wrapper h4 {
    font-size: 16px;
    margin-bottom: 10px !important;
}
.leftbar-wrapper i {
    margin-right: 5px;
    font-size: 20px;
    color: #f05a28;
}
.leftbar-wrapper ul {
    padding-left: 30px;
    margin-bottom: 10px;
}
.leftbar-wrapper ul li {
    font-size: 14px;
    margin-bottom: 5px;
    color: #707070;
}
.page-header .right p {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.page-header button.btn.btn-light {
    color: #f05a28;
    border: 1px solid #ddd !important; 
}
.page-header{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.inner-page-content{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.inner-page-content:last-child{
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.list-image-wrapper {
    width: 100%;
    height: 140px;
    text-align: center;
}
.list-image-wrapper img {
    max-width: 100%;
    border-radius: 10px;
    max-height: 100%;
}
.inner-page-content {
    position: relative;
}
.inner-page-content .detail-btn-wrp button.btn.btn-light {
    margin-right: 0;
    color: #f05a28;
}
.usables a {
    color: #1c67a8 !important;
    margin-right: 10px;
    font-size: 14px;
    background: #edf3fa;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}
.checklist {
    position: absolute;
}
.inner-page-content .list-content h5 {
    font-size: 20px;
}
.inner-page-content .list-content .price h1 {
    font-size: 20px;
}
.wi button.btn.btn-light {
    color: #f05a28;
}
/* Wishlist css ends here ////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Cart css starts here ////////////////////////////////////////////////////////////////////////////////////////////////////////*/

tbody, td, tfoot, th, thead, tr {
    padding: 10px !important;
    vertical-align:middle;
    font-size: 14px;
}
table.table.table-striped.cart td{
    border-bottom: 0;
    border-right: 0;
}
table.table.table-striped.cart th{
    border-bottom: 0;
    border-right: 0;
}
thead tr th{
    font-weight: 500 !important;
    color: #434343 !important;
}
tbody tr td{
    font-weight: 400 !important;
    color: #434343 !important;
    font-size: 13px;
}
.table-img {
    width: 50px;
    height: 50px;
}
.table-img img {
    max-width: 100%;
    max-height: 100%;
}
.btn-light{
    border: 1px solid #ddd !important;
}
.table.no-bo tr td {
    border: 0px;
}
td.tp-bo {
    border-top: 1px solid #7a7a7a !IMPORTANT;
}
.success-note{
    color: rgb(20 197 85) !important;
    font-size: 13px;
}
ul.pagination .page-item {
    margin-right: 10px;
    
}
ul.pagination .page-item:last-child {
    margin-right: 0px;
}
ul.pagination .page-item a.page-link {
    border-radius: 5px;
    padding: 5px 15px;
    box-shadow: none;
    font-size: 14px !important;
}
.active>.page-link, .page-link.active {
    color: #fff !important;
    background-color: #f05a28 !important;
    border: none !important;
}
/* Cart css ends here ////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* profile css ends here ////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.profile-img {
    position: relative;
}
.c-img {
    width: 25px;
    height: 25px;
    background: #1c67a8;
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: -7px;
    cursor: pointer;
}
.check-field .form-check {
    display: flex;
    align-items: flex-start;
}
a.profile-ch {
    font-size: 12px;
    color: #1c67a8 !important;
    margin-left: 10px;
}
/* profile css ends here ////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* inner head nav page css starts here ///////////////////////////////////////////////////////////////////////////////////////////////// */

.feedback p {
    font-size: 14px;
    color: #707070;
}

.hed-search {
    max-width: 350px;
    width: 100%;
    position: relative;
}
.hed-search span {
    position: absolute;
    top: 10px;
    right: 11px;
}
.order-details p {
    font-size: 12px;
}
.capsules .bg-gray {
    font-size: 12px;
    padding: 5px;
    width: fit-content;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.capsules {
    margin-top: 5px;
   display: flex;
   flex-wrap: wrap;
   cursor: pointer;
}
.address .bg-light {
    width: fit-content;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.address .bg-light p {
    color: #f05a28;
}
.address-details p {
    font-size: 14px;
    color: #707070;
    width: 80%;
}
.col-lg-4 select {
    font-size: 14px;
    padding: 9px;
}
.inner-page-wrapper {
    position: relative;
}
.btn-group.adr {
    position: absolute;
    top: 0;
    right: 0px;
}
.btn-group.adr button.btn.btn-light {
    border-radius: 5px;
}
.page-header a.btn.btn-secondary{
    color: #fff !important;
    font-size: 14px;
}
a.btn.btn-primary{
    color: #fff !important;
    font-size: 14px;
    outline: none;
border: none;
}
 textarea {
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    outline: none;
    padding: 10px;
    font-size: 13px !important;
    width: 100%;
    max-height: 80px;
    min-height: 100%;
}
/* inner head nav page css ends here ///////////////////////////////////////////////////////////////////////////////////////////////// */

/* Stepper Css starts here  //////////////////////////////////////////////////////////////////////////////*/

.step-wizard-list{

    color: #333;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    position: relative;
    z-index: 10;
}

.step-wizard-item{
    padding: 0 20px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive:1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
}
.step-wizard-item + .step-wizard-item:after{
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background: #f05a28;
    width: 100%;
    height: 5px;
    transform: translateX(-50%);
    z-index: -10;
}
.progress-count{
    height: 40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index:10;
    color: transparent;
}
.progress-count:after{
    content: "";
    height: 40px;
    width: 40px;
    background: #f05a28;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}
/* .progress-count:before{
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
} */
.progress-label{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}
.current-item .progress-count:before,
.current-item ~ .step-wizard-item .progress-count:before{
    display: none;
}
.current-item ~ .step-wizard-item .progress-count:after{
    height:10px;
    width:10px;
}
.current-item ~ .step-wizard-item .progress-label{
    opacity: 0.5;
}
.current-item .progress-count:after{
    background: #fff;
    border: 2px solid #f05a28;
}
.current-item .progress-count{
    color: #f05a28;
}

/* Stepper Css ends here  //////////////////////////////////////////////////////////////////////////////*/

/* checkout Css starts here  //////////////////////////////////////////////////////////////////////////////*/
span.indicator {
    background: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 0.2px solid;
    margin-right: 10px;
}
button.accordion-button{
    font-weight: 500;
}
.sidb-img{
    width: 100%;
}
.sidebar-crt h5 {
    font-size: 16px;
}
.sidebar-crt h6 {
    font-size: 20px;
    font-weight: 600;
}
.crt-list{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.crt-list:last-child{
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.sidebar-usables p {
    opacity: 90%;
    font-size: 14px;
}
.shipment-mtd {
    border-top: 1px solid #ddd;
    padding-top: 15px;
}
/* checkout Css ends here  //////////////////////////////////////////////////////////////////////////////*/

/* track Css starts here  //////////////////////////////////////////////////////////////////////////////*/

.track-or-img img {
    width: auto;
    height: 100%;
}
.track-or-img {
    height: 140px;
    text-align: center;
}
.order-status-wrapper .list-content h5 {
    font-size: 18px;
    margin-bottom: 15px !important;
}
.order-status-wrapper .list-content h1 {
    font-size: 20px;
}


.step-wizard-list{

    color: #333;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
}

.step-wizard-item{
    padding: 0 20px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive:1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
}
.step-wizard-item + .step-wizard-item:after{
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background: #45ce61;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}
.progress-count{
    height: 40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index:10;
    color: transparent;
}
.progress-count:after{
    content: "";
    height: 40px;
    width: 40px;
    background: #45ce61;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}
.progress-count:before{
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
}
.progress-label{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}
.current-item .progress-count:before,
.current-item ~ .step-wizard-item .progress-count:before{
    display: none;
}
.current-item ~ .step-wizard-item .progress-count:after{
    height:10px;
    width:10px;
}
.current-item ~ .step-wizard-item .progress-label{
    opacity: 0.5;
}
.current-item .progress-count:after{
    background: #fff;
    border: 2px solid #45ce61;
}
.current-item .progress-count{
    color: #45ce61;
}

p.tr-ship {
    font-size: 10px;
    color: #aaaaaa;
    font-weight: 500;
}
/* track Css ends here  //////////////////////////////////////////////////////////////////////////////*/

/* compare styles Css starts here  ///////////////////////////////////////////////////////////////////////// */

.text-custom-truncate{
    display: -webkit-box !important;
    max-width: 230px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}
.table thead tr th{
    background-color: white;
    z-index: 10
}

table .table{
    text-align: left;
    position: relative;
    border-collapse: collapse
}
th{
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4)
}
.table-responsive{
    overflow-x: inherit !important
}

.prod-img-wrap img {
    width: 48%;
}
/* .simple-head th div{
    border-bottom: 1px solid #000;
} */
.table td.base-item,  .table td, .table th{
    border-right:1px solid #dee2e6;
}
.comp_price_holder {
    border-bottom: 1px solid #dee2e6;
    padding: 12px 0px;
}
.simple-head th{
    border-bottom-width: 0px!important;
}

/* compare styles Css ends here  ///////////////////////////////////////////////////////////////////////// */

/* Contact styles Css starts here  ///////////////////////////////////////////////////////////////////////// */

/* .contact-details{
    padding: 30px;
    border-radius: 10px;
    height: 100%;
} */
.contact-details h1 {
    color: rgb(49, 49, 49);
    font-size: 28px;
    margin-bottom: 5px !important;
}
.contact-details p {
    display: flex;
    flex-direction: column;
    color: #f05a28;
    font-size: 14px;
    justify-content: space-between; 
    color: rgb(61, 61, 61);
    font-weight: 300;

}
.contact-wrapper {
    max-width: 850px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}
.co-img {
    width: 45px;
    height: 45px;
    background: #1c67a8;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    margin-right: 10px;
}
.co-details a {
    font-size: 14px;
    color: #1c67a8 !important;
}
/* Contact styles Css ends here  /////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Blogs css */

.blogs .ab-content h4 {
    margin-bottom: 10px !IMPORTANT;
    margin-top: 20px;
    font-size: 16px;
    color: #436dc3;
}
.blog-detail .ab-content h4 {
    color: #436dc3;
}
.blogs .ab-content p {
    font-size: 13px;
    color: rgb(61, 61, 61);
}
.blog-img {
    width: 140px;
    margin: auto;
}
.blogs .card{
    margin-bottom: 1.5rem;
}
.blg-details p {
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
    opacity: 70%;
}
.blog-detail .blg-details p {
    margin-top: 10px;
    text-align: left;
    margin-bottom: 20px !IMPORTANT;
}
.blog-text ul li {
    list-style: disc;
    font-size: 14px;
    margin-bottom: 10px;
}
.blog-text p{
    list-style: disc;
    font-size: 14px;
}

/* View Order css starts here///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

a.btn.btn-light {
    color: #f05a28 !important;
    font-size: 14px;
}
.order-id p {
    font-size: 13px;
    opacity: 60%;
    margin-bottom: 5px;
}
.order-id h5 {
    font-size: 14px;
    opacity: 85%;
}
.vw p.text-warning {
    background: #fff9e8;
    padding: 10px 20px;
    border-radius: 5px;
    color: #edb204 !important;
}
.table-conc {
    width: 35%;
    margin-left: auto;
    background: #f9f9f9;
    padding: 5px 15px;
    border-radius: 10px;
}
.table-conc table.table tbody tr th{
    border: 0;
    border-bottom: 1px solid rgb(227, 227, 227);
    font-weight: 400;
}
.remove-bo{
    border: 0 !important;
}
.order-ad-vw h6 {
    font-size: 16px;
}
.order-ad-vw p {
    font-size: 14px;
}
.order-ad-vw p {
    font-size: 14px;
    line-height: 18px;
}
/* View Order css ends here///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* Media query css starts here //////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-device-width: 320px) and (max-device-width: 600px) { 
    .header {
        padding: 15px;
    }
    ul.navbar-nav {
        flex-direction: row;
        justify-content: center;
    }
    span.nav-sep {
        display: none;
    }
    button.navbar-toggler {
        background: #d5d5d5;
        padding: 8px 12px;
    }
    .site-wrapper-ut {
        padding: 15px;
    }
    .site-wrapper-ut .utilities {
        display: unset !important;
    }
    .nav-sec-top {
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav-sec-top .dropdown {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nav-sec-top .search-bar{
        margin-right: 0 !important;
    }
    .end-card {
        display: block !important;
    }
    .nav-sec-bottom .content-right {
        display: none;
    }
    .content-divider .nav-sec-bottom {
        display: block !important;
        text-align: center;
    }
    .nav-sec-bottom ul.navbar-nav li a { 
        margin-bottom: 10px !IMPORTANT;
    }
    .site-wrapper {
        padding: 20px;
    }
    .footer{
        padding: 0;
    }
    .footer .footer-top {
        flex-direction: column;
    }
    .footer-top .left {
        width: 100%;
        text-align: center;
    }
    .left p {
        width: 100% !important;
    }
    .footer-top .right {
        width: 100%;
        margin-top: 15px;
    }
    .footer-btm {
        text-align: center;
    }
    .footer-btm p {
        width: 100%;
    }
    .social-icons {
        justify-content: center;
    }
    .footer-btm ul {
        padding-left: 0;
    }
    .ft-l {
        margin-bottom: 20px;
    }
    .end-card {
        flex-wrap: wrap;
        text-align: center;
    }
    .payment {
        margin: auto;
    }
    .utilities div {
        flex-direction: column;
        text-align: center;
        margin-bottom: 10px;
    }
    .shop img {
        width: 100%;
        height: 100%;
    }
    .banner-section.shop {
        height: 140px;
    }
    .banner-section .content {
        top: 10px;
        left: 20px;
    }
    .custom-pdd {
        padding-right: 12px !important;
        margin-top: -20px !important;
    }
    .list-content .list-header {
        flex-direction: column;
    }
    .list-content .list-header h4{
        margin-bottom: 15px !important;
    }
    .card.list {
        margin-bottom: 20px !important;
    }
    .custom-dir {
        flex-direction: column-reverse;
    }
    .item-display-options ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .item-display-options ul li {
        margin-right: 10px;
        margin-top: 15px;
    }
    .item-display-options ul li:last-child {
        margin-right: 0px;
    }
    .detail-btn-wrp button {
        padding: 10px 13px;
        margin-right: 10px;
    }
    .description p{
        width: 100%;
    }
    .our-ft-pdts .inner-header {
        margin-bottom: 0 !important;
    }
    .wrap .icon {
        margin-right: 0 !important;
    }
    .contact-details .utils {
        flex-direction: column;
        margin-bottom: 0 !important;
    }
    .utils div{
        flex-direction: column;
    }
    .co-img {
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .utils .co-details{
        text-align: center !important;
    }
    .page-header {
        flex-direction: column;
    }   
    .page-header .form-group {
        width: 100% !important;
        flex-direction: column;
    } 
    .page-header .form-group button.btn.btn-primary {
        width: 100% !important;
        margin-left: 0 !IMPORTANT;
        margin-top: 10px;
    }
    /* li.step-wizard-item{
        text-align: left;
    } */
    .step-wizard-item + .step-wizard-item:after {
        left: 50%;
        top: -51px;
        width: 1%;
        height: 95px;
    }
    ul.step-wizard-list{
        flex-direction: column;
        padding-top: 0;
    }
    span.progress-count {
        margin-top: 20px;
    }
    .order-status-wrapper .list-content {
        text-align: center;
    }
    .order-status-wrapper .list-content .price {
        justify-content: center;
    }
    .order-status-wrapper .list-content h5 {
       margin-top: 15px;
    }
    
    .profile .col-lg-9.col-md-12.col-sm-12 .card:first-child {
        margin-top: 1.5rem;
    }
    .profile .page-header {
        flex-direction: unset;
        align-items: baseline;
    }
    .table-scroll {
        overflow: auto;
    }
    .cart .content-footer {
        display: block !important;
    }
    .cart .content-footer button.btn {
        width: 100%;
        margin-bottom: 10px;
    }
    .cart .content-footer a {
        width: 100%;
    }
    ul.pagination {
        display: block;
        text-align: center;
        margin-bottom: 15px !important;
    }
    ul.pagination p {
        margin-bottom: 10px !important;
    }
    ul.pagination div {
        justify-content: center;
    }
    ol.breadcrumb {
        justify-content: center;
    }
    .sidebar-usables .page-header {
        flex-direction: row !important;
    }
    .sidebar-crt h5 {
        margin: 15px 0;
    }
    .address-t textarea {
        margin-top: 15px !important;
    }
    .res-cd-mt {
        margin-top: 1.5rem;
    }
    .usables.d {
        display: flex;
        flex-direction: column;
    }
    .usables.d a{
        margin-bottom: 10px !important;
        margin-right: 0;
    }
    .hed-search {
        margin-top: 20px;
    }
    .list-image-wrapper {
        margin-bottom: 15px;
    }
    .wi button.btn {
        width: 100%;
        margin-bottom: 10px;
    }
    .container-fluid.starter-pd {
        padding: 15px !important;
    }
    .login {
        width: 100%;
    }
    .login-custom{
        flex-direction: column;
    }
    .login-custom a.btn.btn-primary {
        width: 100% !important;
    }
    .login-custom .btn.btn-primary {
        width: 100% !important;
    }
    .createacount{
        width: 100%;
    }
    .form-sec .login-footer {
        margin-top: 20px !IMPORTANT;
    }
    .ab-content {
        margin-top: 15px;
    }
    .ab-content p {
        font-size: 14px;
        margin-top: 10px;
    }
    .res-fm-mt {
        margin-top: 15px;
    }
    
}

@media screen and (min-device-width: 600px) and (max-device-width: 820px) { 
    .header {
        padding: 15px;
    }
    .nav-sec-bottom .content-right {
        display: none;
    }
    .footer-btm ul {
        padding-left: 0;
    }
    .footer{
        padding: 0;
    }
    .footer .footer-top {
        flex-direction: column;
    }
    .footer-top .left {
        width: 100%;
        text-align: center;
    }
    .footer-top .left p {
        width: 100%;
        text-align: center;
        margin-bottom: 20px !important;
    }
    .footer-btm {
        text-align: center;
    }
    .footer-btm p {
        width: 100%;
    }
    .site-wrapper {
        padding: 20px;
    }
    .footer-top .right{
        width: 100%;
    }
    .social-icons{
        justify-content: center;
    }
    .ft-l{
        margin-bottom: 20px;
    }
    .site-wrapper-ut {
        padding: 15px;
    }
    .site-wrapper-ut .utilities {
        align-items: flex-start !important;
    }
    .site-wrapper-ut .utilities .wrap {
text-align: center;
        width: 50% !important;
        flex-direction: column;
        justify-content: center;
    }
    .wrap .icon{
        height: 50px;
        margin-bottom: 10px;
    }
    .banner-section.shop {
        height: 250px;
    }
    .shop img {
        width: 100%;
        height: 100%;
    }
    
    .page-header .form-group {
        width: auto !important;
    }
    .res-fm-mt {
        margin-top: 15px;
    }
    .res-cd-mt {
        margin-top: 1.5rem;
    }
    .site-wrapper.profile .col-lg-3.col-md-12.col-sm-12 {
        margin-bottom: 1.5rem;
    }
    ul.pagination {
        margin-bottom: 10px !important;
    }
    .login {
        width: 50%;
    }
    .custom-dir {
        flex-direction: column-reverse;
    }
    .item-display-options ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .item-display-options ul li {
        margin-right: 10px;
        margin-top: 15px;
    }
    .item-display-options ul li:last-child {
        margin-right: 0px;
    }
    .item-display-options ul li {
        width: auto;
    }
    .item-display-options ul{
        justify-content: unset;
    }
    .custom-dir .custom-pdd{
        padding-right: 12px !important;
    }
    .description p{
        width: 100%;
    }
}

/* Media query css ends here /////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/